body {
  font-size: 16px;
  color: #fff;
  background-color: #fa9fb5;
}


li{
  margin: 4px;
}

#sketchContainer{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1950px;
}


.superfoodweb{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1112px;
}

ul button{
	margin-left: 5px;
	width: 150px;
	text-align: center;
}

.navbar-brand{
  font-size: 50px;
}

a:hover {
  background-color: lightgreen;
}


.nav-item{
  font-size: 20px;
}

#definition1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
}
#definition2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1112px;
}

.term{
	text-align: center;
	font-size: 40px;
}

.description{
	font-size: 25px;
}

.jumpertest{
	text-align: center;
	font-size: 30px;
	color: black;
}

.jumper{
	color:black;
}

#randomChains{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
}
#matrixContainer{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#matrixContainer2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
}

#energyP{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.description2{
	font-size: 18px;
	margin-top: 8px
}
.descpara{
	margin-top: 5px
}